*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0b1c2c;
}

nav{
    display: flex;
    height: 8vh;
    width: 100vw;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 30vw;
}

#reserve{
    background-color:#52b4cf;
    height: 6vh;
    width: 7vw;
    cursor: pointer;
}

a{text-decoration: none;}



#right-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    width: 70vw;
}

#splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60vh;
    width: 100vw;
    font-size: 2.5rem;
}

.input-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5vw;
    margin-bottom: 1vh;
    width: 90vw;
    height: 10vh;
    border: #52b4cf 1px solid;
}

.selector-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
    border-right: #52b4cf 1px solid;
    height: 10vh;
    color: #52b4cf;
}

label{
    color: #52b4cf;
}
.selectors {
    flex: 1;
    width: 17vw;
    border: none;
    font-size: 2em;
}

#search-btn{
    align-self: center;
    background-color: #52b4cf;
    width: 12vw;
    height: 8vh;
    font-size: 1.5em;
}